.switchLabel {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  user-select: none;
}

.switchLabel.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.switchText {
  font-size: var(--go-ui-font-size-sm);
  font-family: var(--go-ui-font-family-sans);
  color: var(--go-ui-color-text-primary);
  margin-top: 2px;
}

.switchContainer {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 16px;
}

.switchInput {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.3s;
  border-radius: 16px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: 0.3s;
  border-radius: 50%;
}

.switchInput:checked + .slider {
  background-color: var(--go-ui-color-red-90);
}

.switchInput:checked + .slider:before {
  transform: translateX(20px);
}

.switchInput:focus + .slider {
  box-shadow: 0 0 1px var(--go-ui-color-red-90);
}

.switchLabel.disabled .slider {
  cursor: not-allowed;
  opacity: 0.6;
}

