fastapi
uvicorn[standard]
sqlalchemy
alembic
psycopg2-binary
boto3
python-dotenv
pydantic>=2.7.0
pydantic-settings>=0.2
openai
anthropic
google-generativeai
aiohttp
asyncio
Pillow
huggingface-hub
pytest
httpx
requests
pycountry>=22.3.5
pycountry-convert>=0.7.2
python-multipart
PyJWT
jsonschema
aiohttp>=3.9
