.global-three-w {
    .main-section {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;

        .pp-iframe {
            border: none;
            width: 1050px;
            height: 850px;
        }
    }
}
